.button {
    -fx-border-radius: 5px;
    -fx-background-color: #58CAA5;
    -fx-text-fill: white;
}
.body {
    -fx-background-image: url("../images/clean-background.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-font-weight: bold;
}